@import helper._

@(userForm: Form[BasicForm], lr: String = "", rf: String = "")(implicit messages: Messages)

@main("Let's predict one's loan!") {
    <h1>Please input something!</h1>

    @form(action = routes.HomeController.simpleFormPost()) {
        @inputText(userForm("CreditUsage"))
        @inputText(userForm("Age"))
        @inputText(userForm("PastDue_30_59"))
        @inputText(userForm("DebtRatio"))
        @inputText(userForm("MonthlyIncome"))
        @inputText(userForm("NumberOfOpenCreditLinesAndLoans"))
        @inputText(userForm("PastDue_90"))
        @inputText(userForm("NumberRealEstateLoansOrLines"))
        @inputText(userForm("PastDue_60_89"))
        @inputText(userForm("Dependents"))
    <input type="submit" value="Submit">
    }

    <h2>@lr</h2>
    <h2>@rf</h2>
}