@(predictData: List[(String, String)], rf: String, lr: String)(implicit messages: Messages)
@main("Predict Result") {
    @heading()
    <div>
        <h2>Predict Data:</h2>
        @for(item <- predictData){
            <li>@item._1 : @item._2</li>
        }
        </ul>
    </div>

    <div>
        <h2>Machine Learning Result</h2>
        <p>Random Forest: @rf</p>
        <p>Logistic Regression: @lr</p>
    </div>

    <h2>You decisions: </h2>
    <div>
        <li><a href="@routes.HomeController.index">Approve</a></li>
        <li><a href="@routes.HomeController.index">Decline</a></li>
        <li><a href="@routes.HomeController.index">Uncertain</a></li>
    </div>
}