@import helper._

@(decisionForm : Form[DecisionForm], predictData: List[(String, String)], rf: String, lr: String)(implicit messages: Messages)

@main("Predict Result") {
    @heading()
    <div>
        <h2>Predict Data:</h2>
        <ul>
        @for(item <- predictData){
            <li>@item._1 : @item._2</li>
        }
        </ul>
    </div>

    <div>
        <h2>Machine Learning Result</h2>
        <p>Random Forest: @rf</p>
        <p>Logistic Regression: @lr</p>
    </div>

    <h2>Your Comments: </h2>
    @form(action = routes.HomeController.decisionPost((for((x,y)<-predictData) yield y), rf, lr)) {
        @textarea(decisionForm("comments"))
    <input type="submit" value="Submit">
    }
}