# sbt
# (may want to keep parts of 'project')
bin/
target/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# Spark
.bsp
derby.log
_SUCCESS
*.crc

# mac
.DS_Store

# Hive
metastore_db/

# other
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
